body {
    font-family: Helvetica, Arial, sans-serif;
    min-height: 200vh;
    margin: 0;
}

button {
    padding: .5em .7em;
    border: 1px solid #8d8d8d;
    background-color: white;
    font-size: 1em;
}

.top-banner {
    padding: 1em 0;
    background-color: #ffd698;
}

.top-banner-inner {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.modal {
    display: none;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
}

.modal-body {
    position: fixed;
    top: 3em;
    bottom: 3em;
    right: 20%;
    left: 20%;
    padding: 2em 3em;
    background-color: white;
    overflow: auto;
}

.modal-close {
    cursor: pointer;
    position: absolute;
    top: .3em;
    right: .3em;
    padding: .3em;
    font-size: 2em;
    height: 1em;
    width: 1em;
    text-indent: 10em;
    overflow: hidden;
    border: 0;
}

.modal-close::after {
    position: absolute;
    line-height: .5;
    top: .2em;
    left: .1em;
    text-indent: 0;
    content: "\00D7";
}

.container {
    width: 80%;
    max-width: 1000px;
    margin: 1em auto;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-label {
    padding: .5em 2em .5em 1.5em;
    border: 1px solid #ccc;
    background-color: #eee;
}

.dropdown-label::after {
    content: "";
    position: absolute;
    right: 1em;
    top: 1em;
    border: .3em solid;
    border-color: black transparent transparent;
}

.dropdown:hover .dropdown-label::after {
    top: .7em;
    border-color: transparent transparent black;
}

.dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 2.1em;
    min-width: 100%;
    background-color: #eee;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.submenu {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    border: 1px solid #999;
}

.submenu > li + li {
    border-top: 1px solid #999;
}

.submenu > li > a {
    display: block;
    padding: .5em 1.5em;
    background-color: #eee;
    color: #369;
    text-decoration: none;
}

.submenu > li > a:hover {
    background-color: #fff;
}